body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #343a40;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.create-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
a{
    text-align: left;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.action-icons a {
    margin-right: 10px;
    color: #007bff;
}

.action-icons a:hover {
    color: #0056b3;
}

@media only screen and (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th, td {
        text-align: center;
    }

    .action-icons a {
        margin-bottom: 5px;
        display: block;
    }
}
